<% content_for :title do %>Gauge Interactive Projects<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="pivotal" data-view="Pivotal" data-title="Pivotal Tracker"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-id="burndown" data-view="Burndown"></div>
	</li>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="klimato" data-view="Klimato"></div>
  </li>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is the shiny Gauge dashboard." data-moreinfo="Ha! Get it? Dashboard..."></div>
  </li>
  </ul>
 
</div>