<script type='text/javascript'>
$(function() {
  Dashing.numColumns = 5
  Dashing.gridsterLayout('[{"col":1,"row":1},{"col":3,"row":1},{"col":5,"row":1},{"col":1,"row":2},{"col":4,"row":2},{"col":1,"row":3},{"col":2,"row":3},{"col":3,"row":3},{"col":1,"row":4},{"col":2,"row":4},{"col":3,"row":4},{"col":3,"row":2}]')
});
</script>

<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="harvest_daily_hours" data-view="Number" data-title="Today working hours" data-moreinfo="out of 7 hours"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="harvest_weekly_hours" data-view="Number" data-title="This week working hours" data-moreinfo="out of 35 hours"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="harvest_monthly_hours" data-view="Number" data-title="This month working hours" data-moreinfo="out of 140 hours"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_daily_commits" data-view="Number" data-title="Daily Commits" data-moreinfo="in PicCollage"></div>
    </li>

    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="github_weekly_commits" data-view="Number" data-title="Weekly Commits" data-moreinfo="in PicCollage"></div>
    </li>

    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="github_monthly_commits" data-view="Number" data-title="Monthly Commits" data-moreinfo="in PicCollage"></div>
    </li>

  </ul>
</div>
