// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$zen-color:  #78a300;
$title-color:       rgba(255, 255, 255, .7);
$moreinfo-color:    rgba(255, 255, 255, .7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {

  background-color: $zen-color;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, .7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
